{% extends "index.html" %}
{% block main %}
{% load static %}
<main>
    <!--? Hero Start -->
    <div class="slider-area ">
        <div class="slider-height2 d-flex align-items-center">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap hero-cap2 text-center">
                            <h2>Members</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero End -->
    <!--? Team Ara Start -->
    <div class="team-area pt-160 pb-160">
        <div class="container">
            <div class="row">
                {% for a in staffs %}
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="single-team mb-30">
                        <div class="team-img">
                            <img src="{{a.profile.url}}" alt="">
                            <!-- Blog Social -->
                            <ul class="team-social">
                                <li><a href="{{a.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="{{a.twitter}}"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="{{a.linkedid}}"><i class="fab fa-linkedin"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-caption">
                            <h3><a href="instructor.html">{{a.name}}</a></h3>
                            <p>{{a.pro}}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <!-- Team Ara End -->
</main>
{% endblock%}
   