{% extends "index.html" %}
{% block main %}
{% load static %}
    <main>

        <div class="slider-area">
            <div class="slider-height2 d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap hero-cap2 text-center" >
                                <h2 style="color: #333;">About Us</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="about-details section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        {% for a in about %}
                            <div class="about-details-cap mb-50">
                                <h4>{{a.title}}</h4>
                                {% for b in par %}
                                    {% if b.to == a %}
                                        <p>{{b.paragraph}}</p>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>


<div class="whole-wrap">
	<div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">Objectives</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Quality Training</h4>
                        <p>To provide high-quality training programs that cater to diverse backgrounds and skill levels, ensuring every student receives a world-class education in data analytics.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Global Collaboration</h4>
                        <p>To foster international collaboration, like our partnership with Nanolink Data Analytics in the USA, to continuously enhance and update our training offerings.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Accessibility</h4>
                        <p>To make data education accessible to all individuals who seek to improve their data skills, regardless of their location or prior experience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="team-area pt-160 pb-160 section-bg" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="cl-xl-7 col-lg-8 col-md-10">
                <!-- Section Tittle -->
                <div class="section-tittle section-tittle2 text-center mb-70">
                    <span>More About Our Faculty</span>
                </div> 
            </div>
        </div>
        <div class="row">
            {% for a in staffs|slice:":4" %}
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-team mb-30">
                    <div class="team-img">
                        <img src="{{a.profile.url}}" alt="">
                        <!-- Blog Social -->
                        <ul class="team-social">
                            <li><a href="{{a.facebook}}"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="{{a.twitter}}"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="{{a.linkedin}}"><i class="fab fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                    <div class="team-caption">
                        <h3><a href="{% url "staff" %}">{{a.name}}</a></h3>
                        <p>{{a.pro}}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Section Button -->
        <div class="row">
            <div class="col-lg-12">
                <div class="browse-btn2 text-center mt-70">
                    <a href="{% url "staff" %}" class="btn white-btn">View All Faculty</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="whole-wrap">
	<div class="container box_1170">
        <div class="section-top-border">
            <h3 class="mb-30">Goals</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Empowerment</h4>
                    <p>To empower every student with the practical skills and knowledge to succeed in the data analytics and machine learning field.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Innovation</h4>
                    <p>To foster innovation by preparing a new generation of data professionals who can drive data-driven initiatives in their respective organizations.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="single-defination">
                        <h4 class="mb-20">Global Reach</h4>
                    <p>To expand our reach, ensuring that the benefits of our training are accessible to learners not only in Ethiopia but around the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        <!--? Testimonial Start -->
        {% comment %} <div class="testimonial-area fix pt-180 pb-180 section-bg" data-background="{% static 'assets/img/gallery/section_bg03.png' %}">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial pt-65">
                                <!-- Testimonial tittle -->
                                <div class="testimonial-icon mb-45">
                                    <img src="{% static 'assets/img/gallery/testimonial.png' %}" class="ani-btn " alt="">
                                </div>
                                    <!-- Testimonial Content -->
                                <div class="testimonial-caption text-center">
                                    <p>You can’t succeed if you just do what others do and 
                                        follow the well-worn path. You need to create a new and 
                                        original path for yourself.</p>
                                    <!-- Rattion -->
                                    <div class="testimonial-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rattiong-caption">
                                        <span>Clifford Frazier<span> - Colorlib Themes</span> </span>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial pt-65">
                                <!-- Testimonial tittle -->
                                <div class="testimonial-icon mb-45">
                                    <img src="{% static 'assets/img/gallery/testimonial.png' %}" class="ani-btn " alt="">
                                </div>
                                    <!-- Testimonial Content -->
                                <div class="testimonial-caption text-center">
                                    <p>You can’t succeed if you just do what others do and 
                                        follow the well-worn path. You need to create a new and 
                                        original path for yourself. </p>
                                    <!-- Rattion -->
                                    <div class="testimonial-ratting">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="rattiong-caption">
                                        <span>Clifford Frazier<span> - Colorlib Themes</span> </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> {% endcomment %}
    </main>
{% endblock%}
   